[push]
	default = simple
	autoSetupRemote = true
	followTags = true
[credential]
	helper = osxkeychain
[user]
	name = Kelvin Cuesta
	email = kelvin.cuesta@gusto.com
	signingkey = /Users/kelvin.cuesta/.ssh/id_ed25519.pub
[core]
	hooksPath = /Users/kelvin.cuesta/.gusto/githooks
	pager = diff-so-fancy | less --tabs=4 -RF
[maintenance]
	repo = /Users/kelvin.cuesta/workspace/zenpayroll
	repo = /Users/kelvin.cuesta/workspace/web
[interactive]
	diffFilter = diff-so-fancy --patch
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[merge]
	conflictStyle = diff3
[commit]
	gpgsign = true
	verbose = true
[gpg]
	format = ssh
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[rerere]
	enabled = true
	autoupdate = true
[rebase]
	autoSquash = true
	updateRefs = true
	autoStash = true
[pull]
	rebase = true
[alias]
	# Log (pretty formats)
	lg = log --oneline --graph --decorate
	ll = log --oneline -n 15
	last = log -1 HEAD --stat
	hist = log --pretty=format:'%C(yellow)%h%Creset %ad | %s%C(auto)%d%Creset %C(dim)<%an>%Creset' --date=short

	# Branch
	bra = branch -a
	brv = branch -vv
	brd = branch -d
	brD = branch -D
	gone = "!git fetch -p && git branch -vv | grep ': gone]' | awk '{print $1}'"

	# Diff
	ds = diff --staged
	dc = diff --cached
	stat = diff --stat

	# Stash
	sth = stash
	sthp = stash pop
	sthl = stash list
	sths = stash show -p

	# Reset / Undo
	unstage = reset HEAD --
	undo = reset --soft HEAD~1
	discard = checkout --

	# Misc
	aliases = config --get-regexp alias
	root = rev-parse --show-toplevel
	whoami = "!echo $(git config user.name) '<'$(git config user.email)'>'"
	branches = for-each-ref --sort=-committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
